RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]
RewriteRule ^app/.*\.(html|rb|py)$ - [F,L,NC]
RewriteRule ^vendor/.*\.(html|rb|py)$ - [F,L,NC]
